<nav class="page-nav">
	<div class="wrapper">
		<% if project_prev? %>
		<a href="<%=project_prev_url()%>" class="nav-prev">
			<span></span>
		</a>
		<% end %>
		<h1><%= @project[:title]%></h1>
		<% if project_next? %>
		<a href="<%=project_next_url()%>" class="nav-next">
			<span></span>
		</a>
		<% end %>
	</div>
</nav>