<div id="main">
	<span class="sprite-theodore"></span>
	
	<h1>Visual Interaction Design & Creative Direction</h1>

	<blockquote> 
		<p>"Things have their shape in time, not space alone. Some marble blocks have statues within them, embedded in their future."</p>
		<footer>Dr. Manhatten - 1985</footer>
	</blockquote>
</div>