<div id="main">
	<div class="wide-picture-wrapper">
		<!-- hero image goes here -->		
		<div data-picture data-alt="Kris Brady - Visual Interaction Designer">
			<div data-src="/img/info/kris@1x.jpg"></div>
			<div data-src="/img/info/kris-wide@1x.jpg" data-media="(min-width: 569px)"></div>
			<noscript>
				<img src="/img/info/mr_kris_wide.jpg" alt="Kris Brady - Visual Interaction Designer">
			</noscript>			
		</div>
	</div>
	<article>
		<section class="intro">
			<div class="wrapper">
				<div class="columns">
					<p>
						My name is <b>Kristoffer Brady</b>, and I am a visual interaction designer.
					</p>
					<p>
						Theodore serves as a place of personal growth, both as a designer and as an invidual, passionate and excited about the future of human interfaces and user experiences. 
					</p>
					<p>
						I believe good design is about finding elegant solutions to difficult problems, while arriving at a self rewarding moment in the process.
					</p>
					<p>
						Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum
					</p>
					<p>
						I am currently living in San Francisco, drinking a lot of coffee, and pushing pixels as a Designer at <a class="link-facebook" href="http://www.facebook.com/">Facebook</a>.
					</p>
				</div>
			</div>
		</section>

		<section class="then-and-now">
			<div class="wrapper">
				<span class="sprite-in-the-ring"></span>
				<h2>Then and now...</h2>
				<div class="columns">
					<p>
						Over the years I have been fortunate enough to work with an insanely talented group of passionate people on projects both large and small. 
					</p>
					<p>
						To still be able to create and learn alongside them is truly a humbling experience. 
					</p>
					<p>
						This catalogue of work has won numerous recognition from the Webbys, FWA, and Adobe, among others.
					</p>
					<p>
						If you are interested in my previous work please visit <a class="cargo" href="http://work.egosmoke.com/">my cargo</a>.
					</p>
				</div>
			</div>
		</section>

		<section>
			<div class="wrapper">
				<div class="lets-talk">
					<h2>Lets talk...</h2>
					<p>
						You can get in touch with me via any of the following:
					</p>
				</div>
				<nav class="contact-list">
					<a class="contact-icon icon-mail" href="mailto:egosmoke@gmail.com"></a>
					<a class="contact-icon icon-facebook" href="https://www.facebook.com/theweedge"></a>
					<a class="contact-icon icon-linkedin" href="http://www.linkedin.com/profile/view?id=9868278&trk=tab_pro"></a>
					<a class="contact-icon icon-dribble" href="http://dribbble.com/kristofferbrady"></a>
					<a class="contact-icon icon-twitter" href="https://twitter.com/egosmoke"></a>
				</nav>
			</div>
		</section>

	</article>
</div>