<nav class="page-nav">
	<div class="wrapper">
		<h1>1 <small>of</small> 2</h1>
	</div>
</nav>

<div id="main">
	<article>
		<header>
			<div class="wrapper">
				<time>
					July 08.2012
				</time>
			</div>
		</header>
		<section>
			<div class="wrapper">
				<h1>Theodore site design almost ready...</h1>
				<div class="columns" >
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. 
					</p>
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus.Duis mollis, est non commodo luctus, nisi erat lacinia odio. 
					</p>
				</div>
				
			</div>
		</section>
	</article>

	<article>
		<header>
			<div class="wrapper">
				<time>
					July 06.2012
				</time>
			</div>
		</header>
		<section>
			<div class="wrapper">
				<h1>Something something stupid flanders...</h1>
				<div class="columns" >
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. 
					</p>
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus.Duis mollis, est non commodo luctus, nisi erat lacinia odio. 
					</p>
				</div>
			</div>
		</section>
	</article>

	<article>
		<header>
			<div class="wrapper">
				<time>
					June 22.2012
				</time>
			</div>
		</header>
		<section>
			<div class="wrapper">
				<h1>Sketches in progress</h1>
				<div class="note-image">
					<img src="/img/notes/sketch-in-progress.jpg" alt="Sketch in progress" />
				</div>
				<div class="columns" >
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. 
					</p>
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus.Duis mollis, est non commodo luctus, nisi erat lacinia odio. 
					</p>
				</div>
			</div>
		</section>
	</article>

	<article>
		<header>
			<div class="wrapper">
				<time>
					June 06.2012
				</time>
			</div>
		</header>
		<section>
			<div class="wrapper">
				<h1>Skål for helvete!</h1>
				<div class="note-image">
					<img src="/img/notes/skal-for-helvete.jpg" alt="Sketch in progress" />
				</div>
				<div class="columns" >
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. 
					</p>
					<p>
						Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus.Duis mollis, est non commodo luctus, nisi erat lacinia odio. 
					</p>
				</div>
			</div>
		</section>
	</article>
</div>

<nav class="page-nav">
	<div class="wrapper">
		<h1>1 <small>of</small> 2</h1>
	</div>
</nav>