<div id="main">
	<h1>Please select a project below</h1>
	
	<nav class="project-list">
		
		<a href="/projects/template" title="Template Project - Just a template project">
			<div class="overlay">
				<h2>Template Project</h2>
			</div>
			<div data-picture data-alt="Template Project icon">
					<div data-src="/img/projects/template/project-icon@1x.png"></div>
					<div data-src="/img/projects/template/project-icon@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<img src="/img/projects/template/project-icon@1x.png" alt="Template Project icon">
					</noscript>
			</div>
		</a>

		<a href="/projects/template2" title="Template Project - Just a template project">
			<div class="overlay">
				<h2>Template Project</h2>
			</div>
			<div data-picture data-alt="Template Project icon">
					<div data-src="/img/projects/template/project-icon@1x.png"></div>
					<div data-src="/img/projects/template/project-icon@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<img src="/img/projects/template/project-icon@1x.png" alt="Template Project icon">
					</noscript>
			</div>
		</a>

		<a href="/projects/template3" title="Template Project - Just a template project">
			<div class="overlay">
				<h2>Template Project</h2>
			</div>
			<div data-picture data-alt="Template Project icon">
					<div data-src="/img/projects/template/project-icon@1x.png"></div>
					<div data-src="/img/projects/template/project-icon@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
						<img src="/img/projects/template/project-icon@1x.png" alt="Template Project icon">
					</noscript>
			</div>
		</a>
	</nav>
			
</div>