<nav class="page-nav">
	<div class="wrapper">
		<% if project_prev? %>
		<a href="<%=project_prev_url()%>" class="nav-prev">prev</a>
		<% end %>
		<h1><%= @project[:title]%></h1>
		<% if project_next? %>
		<a href="<%=project_next_url()%>" class="nav-next">next</a>
		<% end %>
	</div>
</nav>

<div id="main">

	<!-- BEGIN - PROJECT HERO -->
	<div class="project-hero">
			<div data-picture data-alt="Template Project hero image">
				<div data-src="/img/projects/template/hero@1x.png"></div>
				<div data-src="/img/projects/template/hero-wide@1x.png" data-media="(min-width: 569px)"></div>
				<noscript>
					<img src="/img/projects/template/hero@1x.png" alt="Template Project hero image">
				</noscript>			
			</div>
	</div>		
	<!-- END - PROJECT HERO -->

	<article>		

		<!-- BEGIN - PROJECT HEADLINE -->
		<section class="project-headline">
			<h1>The Headline</h1>
			<p>Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam lorem ipsum dolor sit.</p>
			<div data-picture data-alt="Headline image">
				<div data-src="/img/projects/template/headline@1x.png"></div>
				<div data-src="/img/projects/template/headline@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
				<noscript>
					<img src="/img/projects/template/headline@1x.png" alt="Headline image">
				</noscript>
			</div>
		</section>
		<!-- END - PROJECT HEADLINE -->



		<!-- BEGIN - ITEM GROUPED -->
		<section class="project-item-grouped">
			<div class="wrapper">
				<div class="item">
					<h2>The Headline</h2>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
					<div data-picture data-alt="Item image">
						<div data-src="/img/projects/template/item-grouped@1x.png"></div>
						<div data-src="/img/projects/template/item-grouped@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
						<noscript>
							<img src="/img/projects/template/item-grouped@1x.png" alt="Item image">
						</noscript>
					</div>
				</div>
				<div class="item">
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
					<div data-picture data-alt="Item image">
						<div data-src="/img/projects/template/item-grouped@1x.png"></div>
						<div data-src="/img/projects/template/item-grouped@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
						<noscript>
							<img src="/img/projects/template/item-grouped@1x.png" alt="Item image">
						</noscript>
					</div>
				</div>
			</div>
		</section>
		<!-- END - ITEM GROUPED -->


		<!-- BEGIN - ITEM LARGE -->
		<section class="project-item-large">
			<div class="wrapper">
				<div data-picture data-alt="Item image">
					<div data-src="/img/projects/template/item-large@1x.png"></div>
					<div data-src="/img/projects/template/item-large@2x.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<img src="/img/projects/template/item-large@1x.png" alt="Item image">
					</noscript>
				</div>
			</div>
		</section>
		<!-- END - ITEM LARGE -->


		<!-- BEGIN - ITEM LARGE HEADLINE -->
		<section class="project-item-large">
			<div class="wrapper">
				<h2>The Headline</h2>
				<div class="columns">
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
				</div>
				<div data-picture data-alt="Item image">
					<div data-src="/img/projects/template/item-large@1x.png"></div>
					<div data-src="/img/projects/template/item-large@2x.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<img src="/img/projects/template/item-large@1x.png" alt="Item image">
					</noscript>
				</div>
			</div>
		</section>
		<!-- END - ITEM LARGE HEADLINE-->


		<!-- BEGIN - ITEM ASIDE -->
		<section class="project-item-aside">
			<div class="wrapper">
				<div class="text">
					<h2>The Headline</h2>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
				</div>
				<div data-picture data-alt="Item image">
					<div data-src="/img/projects/template/item-aside@1x.png"></div>
					<div data-src="/img/projects/template/item-aside@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<img src="/img/projects/template/item-aside@1x.png" alt="Item image">
					</noscript>
				</div>
			</div>
		</section>
		<!-- END - ITEM ASIDE HEADLINE-->

		<!-- BEGIN - ITEM ASIDE -->
		<section class="project-item-aside">
			<div class="wrapper">
				<div class="text">
					<h2>The Headline</h2>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
					<p>
						Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
					</p>
				</div>
				<div data-picture data-alt="Item image">
					<div data-src="/img/projects/template/item-aside@1x.png"></div>
					<div data-src="/img/projects/template/item-aside@2x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx)"></div>
					<noscript>
						<img src="/img/projects/template/item-aside@1x.png" alt="Item image">
					</noscript>
				</div>
			</div>
		</section>
		<!-- END - ITEM ASIDE HEADLINE-->

	</article>
</div>